.btn-primary{
	background-color: black;
}

#services{
	background-color: black;
	color: white;
}

p{
	font-family: 'Montserrat', sans-serif;
	font-size: 22px;
}

#services img{
	max-width: 100%;
}

header.masthead {
    background-image: url("../img/michael-diane-weidner-h-rP5KSC2W0-unsplash.jpg");
}


